/*
fefde9 - ivory
8B7150 - french bistro
634B66 - english violet
1A1F16 - dark jungle green
000000 - black
/* template variables*/


/* base template css */
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Overpass, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* topnav stuff */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px double #000000;
}

.header a,.topnav a, .header a:visited, .topnav a:visited {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
}

.topnav a:hover {
    background-color: #999;
    color: black;
}

/* The main container below the topnav */
.main {
    flex: 1;
    display:flex;
}

/* The side navigation menu */
.sidebar {
    width: 200px;
    border-right: 3px solid #000000;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #000000;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #1A1F16;
  color: white;
}

/* main content window */
.content {
    overflow: auto;
    flex: 1;
    margin: 20px;
}