{% extends 'social/base.html' %}

{% block content %}
<h1>{{ object }}</h1>
<h2>People</h2>
{% for person in object.people.all|dictsort:"last_name"|dictsort:"first_name" %}
<li><a href="{% url 'social:person-detail' person.id %}">{{ person.first_name }} {{ person.last_name }}</a></li>
{% endfor %}
<li><a href="{% url 'social:person-with-household-create' object.pk %}">Add New Family Member</a></li>
<p>Created On: {{ object.created_at|date }}</p>
<p>Updated On: {{ object.updated_at|date }}</p>
<p><a href="{% url 'social:household-update' object.pk %}">Update Me</a></p>
{% endblock %}