{% extends 'social/base.html' %}

{% block content %}

    <h1>{{ object }}</h1>
    <h2>People</h2>

    <ul>
        {% for person in object.people.all|dictsort:"last_name"|dictsort:"first_name" %}
        <li><a href="{% url 'social:person-detail' person.id %}">{{ person }}</a></li>
        {% endfor %}
        <li><a href="{% url 'social:person-with-household-create' object.pk %}">Add New Family Member</a></li>
    </ul>

    <h2>Relationships</h2>
        <ul>
            {% for relationship in relationships %}
            <li><a href="{% url 'social:relationship-detail' relationship.pk %}">{{ relationship }}</a></li>
            {% endfor %}
            <li><a href="{% url 'social:relationship-create' %}">Add a relationship</a></li>
        </ul>

    <h2>Interactions</h2>
        <ul>
            {% for interaction in interactions %}
            <li><a href="{% url 'social:interaction-detail' interaction.pk %}">{{ interaction }}</a></li>
            {% endfor %}
            <li><a href="{% url 'social:interaction-create' %}">Add an interaction</a></li>
        </ul>
    <h2>Notes</h2>
    <p>{{ object.notes }}</p>
<p>Created On: {{ object.created_at|date }}</p>
<p>Updated On: {{ object.updated_at|date }}</p>
<p><a href="{% url 'social:household-update' object.pk %}">Update Me</a></p>
{% endblock %}