{% extends 'social/base.html' %}

{% block content %}
    <h1>{{ object.first_name }} {{ object.last_name }}</h1>
    <p>Household: <a href="{% url 'social:household-detail' object.household.pk %}">{{ object.household }}</a></p>
    <h2>Relationships</h2>
    <ul>
        {% for relationship in object.related_from_persons.all %}
            <li><a href="{% url 'social:person-detail' relationship.related_person.pk %}">{{ relationship }}</a></li>
        {% endfor %}
        {% for relationship in object.related_to_persons.all %}
            <li><a href="{% url 'social:person-detail' relationship.person.pk %}">{{ relationship }}</a></li>
        {% endfor %}
        <li><a href="{% url 'social:relationship-with-person-create' object.pk %}">Add Relationship</a></li>
    </ul>
    <h2>Interactions</h2>
    <ul>
        {% for interaction in interactions|dictsortreversed:'updated_at' %}
            <li><a href="{% url 'social:interaction-detail' interaction.pk %}">{{ interaction }}</a></li>
        {% endfor %}
        <li><a href="{% url 'social:interaction-with-interacted-person-create' object.pk %}">Add Interaction</a></li>
    </ul>
    <p>Created On: {{ object.created_at|date }}</p>
    <p>Updated On: {{ object.updated_at|date }}</p>
    <p><a href="{% url 'social:person-update' object.id %}">Update Me</a></p>
{% endblock %}
